@import 'base/variables.scss';
@import 'base/fonts.scss';
@import 'base/reset.scss';
body {
    font-size: 14px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: $main-font;
}

.header,
.footer {
    flex-shrink: 0;
}

.main {
    flex-grow: 1;
}

h1,
h2,
h3,
button,
nav a,
.company_name {
    text-transform: uppercase;
}

.inner_wrapper {
    max-width: $wide-wrapper;
    margin: 0 auto;
}

// 
.btn_round {
    font-size: 16px;
    padding: 14px 39px;
    position: relative;
    left: 4px;
    border: 1px solid $main-color;
    background: transparent;
    border-radius: 22px;
}

.social {
    display: flex;
    align-items: center;
    .social_item {
        text-align: center;
        width: 35px;
        height: 35px;
        margin-left: 8px;
        border: 1px solid $footer-text-color;
        border-radius: 50%;
        position: relative;
        transition: all .3s ease-in-out;
        svg {
            fill: $footer-text-color;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 50%;
            margin-left: -10px;
            top: 50%;
            margin-top: -10px;
            transition: all .3s ease-in-out;
        }
    }
    .social_item.active {
        background: $accent_color;
        border: 1px solid $accent_color;
        svg {
            fill: #fff;
        }
    }
    .social_item:hover {
        border: 1px solid $accent_color;
        cursor: pointer;
        svg {
            fill: $accent_color;
        }
    }
}

.btn,
input[type="submit"] {
    transition: .3s transform ease-in-out;
}

.btn:hover,
input[type="submit"]:hover {
    cursor: pointer;
    transition: .3s all ease-in-out;
    transform: scale(1.1);
}

.btn:hover {
    background-color: $main-color;
    color: #fff;
}

@import 'components/header.scss';
@import 'components/content.scss';
@import 'components/slider.scss';
@import 'components/footer.scss';
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import 'media.scss'