.header {
  background-color: #24282f; }
  .header a {
    color: #fff;
    text-decoration: none; }
  .header .inner_wrapper {
    display: flex;
    justify-content: space-between; }

.logo_block {
  flex: 7 0 auto;
  padding: 39px 0px 39px 23px;
  font-family: 'ralewaybold';
  font-size: 26px; }
  .logo_block a {
    display: flex;
    align-items: center; }
  .logo_block .company_name {
    padding-left: 31px; }

.navigation {
  flex: 5 0 auto; }
  .navigation ul {
    display: flex;
    flex: 3 0 auto; }
  .navigation a {
    display: inline-block;
    padding: 43px 0;
    transition: .3s color ease-in-out; }
  .navigation a:hover {
    color: #b5a263; }
  .navigation .nav_item {
    flex: 1;
    text-align: center; }
  .navigation .nav_item.active {
    border-bottom: 2px solid #b5a263; }
